@import "../../common/variables.scss";

.header{
    background-color: $secondary-color;
    height: 80px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: $font-base;
    font-size: $font-size;
    font-weight: $font-weight;
}

.user0image, .user-image img{
    width: 38px;
    height: 38px;
}