@import "./common/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}


body{
    background: $base-color;
}

.container{
    margin:0px 40px;
    
}